.container {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100vw;
    background-color: var(--color-primary-soft);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container small {
    color: #FFF;
    font-size: 0.9rem;
}